<div class="criarorcamento">
    <h1>Formulário</h1>
    <form action="">

        <div class="input-box">
            <div class="input codigo">
                <input type="text" value="" name="codigo" required>
                <label for="codigo">Código</label>
            </div>
        </div>

        <div class="input-box">
            <div class="input">
                <input type="text" value="" name="descricao" required>
                <label for="descricao">Descrição</label>
            </div>
        </div>

        <div class="input-box">
            <div class="input input-check">
                <label for="base">SINAPI</label>
                <input type="checkbox" name="base" id="base">
            </div>
            <div class="input">
                <select id="opcoes" name="opcoes">
                    <option value="opcao1">UF</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                </select>
            </div>
            <div class="input">
                <!-- <label for="database">Data base</label> -->
                <input type="date" name="database" id="database">
            </div>
        </div>

        <div class="input-box">
            <div class="input">
                <label for="base">SBC</label>
                <input type="checkbox" name="base" id="base">
            </div>
            <div class="input">
                <select id="opcoes" name="opcoes">
                    <option value="opcao1">UF</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                </select>
            </div>
            <div class="input">
                <!-- <label for="database">Data base</label> -->
                <input type="date" name="database" id="database">
            </div>
        </div>

        <div class="input-box">
            <div class="input">
                <label for="base">ORSE</label>
                <input type="checkbox" name="base" id="base">
            </div>
            <div class="input">
                <select id="opcoes" name="opcoes">
                    <option value="opcao1">UF</option>
                    <option value="opcao2">Opção 2</option>
                    <option value="opcao3">Opção 3</option>
                    <option value="opcao4">Opção 4</option>
                </select>
            </div>
            <div class="input">
                <!-- <label for="database">Data base</label> -->
                <input type="date" name="database" id="database">
            </div>
        </div>

        <div class="input-box">
            <div class="input">
                <textarea name="area" id="" maxlength="450" required></textarea>
                <label for="area">Observação</label>
            </div>
        </div>

        <div class="button">
            <input type="button" value="CADASTRAR ORÇAMENTO">
        </div>
        
    </form>
</div>
